.form_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: burlywood;
}


.area_texto{
    height: 150px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

