
.modal {
    
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0); 
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
  }
  .modal h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  

  .container {
    background-color: rgb(119, 117, 117, 0.8);
    color: black;
    height: 300px;
    width: 270px;
    border-radius: 15px;
    font-size: 15px;
    border: 2px solid black;

}



.buttons{
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  gap: 3em;
}

.finalizar{
  width: 100px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #a970ff;
  color: white;
}

.fechar{
  width: 100px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #a970ff;
  color: white;
}



