.footer{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-items: center;
    border-top: 2px solid black;
    height: 150px;
    color: black;
    background-color: rgb(178, 220, 96) ;
}

.instagram{
    margin-bottom: 1em;
}

.twitter{
    margin-bottom: 1em;
}









     
@media screen and (max-width: 600px){
    .footer{
     display: flex;
     gap: 2em;
    width: 590px;
    height: 300px;
    }
 
 }