.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 48, 48) ;
    height: 600px;
    font-size: 20px;
    color: greenyellow;
    
    
}

.carrinho {
  width: 500px;
  height: 400px;
  background-color:black ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 .2rem 0.5rem white;
}


.carrinho h1 {
    
    padding: 0.3em;
}


.finalizar {
    background-color: greenyellow ;
    color: black;
    border-radius: 15px;
    border: 3px solid black;
    padding: .4em;
}