.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpapercave.com/wp/wp2685213.jpg');
    height: 500px;
    font-size: 20px;
    
}

.container h1 {
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}

.container div {
    border-bottom: 1px solid black;
}