.container {
           display: flex;
           justify-content: center;
           align-items: center;
           padding: 30px;
           font-size: 40px;
           box-sizing: border-box;
           width: 100vw;
           background-color: #202024;
}

.container img {
    width: 30%;
    height: 400px;
    justify-content: center;
    justify-content: flex-end;
    padding-left: 2%;
    gap: 2rem;
    padding-bottom: 3%;
    position: relative ;
    margin: 0.2em;
    box-sizing: border-box;
    cursor: pointer;

    
}
img {
    box-sizing: content-box;
    position: relative;
    z-index: 1;
}

   
@media screen and (max-width: 600px){
    .container{
     display: flex;
     gap: 2em;
    width: 630px;
    
    }
 
 }