.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/90525485_10157503535642620_3202377643676663808_o_0c2792b5.jpeg);
    color: white;
    border-bottom: 2px solid black;
    width: 100vw;
    height: 600px;
}

.container h1 {
    font-size: 30px;
}

.container h2 {
    margin-bottom: 1em;
    margin-top: 3em;
    font-size: 20px;
}

.container img {
    width: 600px;
    height: 1000px;
    border: 2px solid black;
    
}

.encomende {
    list-style: none;
}


.button2 {
    background-color: #a970ff;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid black;
}

.galeria {
    margin-top: 5em;
    font-size: 20px;
}

.span {
    font-size: 10px;
    font-weight: bold;
}

    
@media screen and (max-width: 600px){
    .container{
     display: flex;
     gap: 2em;
    width: 630px;
    height: 800px;
    }
 
 }