

.container{
    background-color: #000000;
    width: 100vw;
    height: 150px;
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
   border: 2px solid black;
    align-items: center;
    color: yellowgreen;
    align-items: center;
    box-shadow: 0 .5rem 1rem white;
   
}




.perfil{
     border: 8px double yellowgreen;
    padding: 0.8em;
    border-radius: 15px;
    margin-right: 15em;
    font-size: 20px;
    
}

.lista{
    display: flex;
    gap: 2em;
    
}

.lista:hover {
    color: gray;
}

.item_lista {
    border: 6px double yellowgreen;
    padding: 0.2em;
    border-radius: 10px;
    color: yellowgreen;
    text-decoration: none;
    list-style: none;
   
}


    
@media screen and (max-width: 600px){
    .container{
     display: flex;
    height: 200px;
     width: 590px;
     justify-content: space-between;
    }
 
 }
 





