


.container{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 150px;
    display: flex;
    color: #a970ff;
    text-decoration: none;
    justify-content: space-evenly;
    
    border-bottom: 2px solid black;
    align-items: center;

}

.lista {
    display: flex;
    gap: 2em;
    align-items: center;
}


.perfil{
     
    color: black;
  
}
.text{
    color: black;
    font-size: 20px;
   
   
    

}

.perfil img {
   
    width: 100px;
    height: auto;
    border-radius: 50%;
    
}





.encomende {
    list-style: none;
}

.home {
    list-style: none;
}
.home img {
    width: 35px;
}

.button2 {
    background-color: #a970ff;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid black;
}

.button1 {
    background-color: #a970ff;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid black;
    margin-bottom: 1em;
}




.carrinho_container{
    list-style: none;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
}



    
@media screen and (max-width: 600px){
    .container{
     display: flex;
    height: 200px;
     width: 590px;
     justify-content: space-between;
    }
 
 }
 





